<a href="https://colab.research.google.com/github/Shivani-781/Ganga-Water-Quality-Assessment/blob/main/1_Data_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Transformation

Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np

Reading the dataset

In [ ]:
df = pd.read_csv('main_data.csv')
df.head()

,SN,Wasp Id,Id,Frame Type,Frame No,Sensor,Sensor value,Date,Time,Sync,Raw,Parser type,Meshilium Id
0,158,SW02,6127AAE80593E489,6,0,BAT,65.000000,24-09-2018,12:45:00,9.010000e+15,noraw,1,1.820000e+13
1,159,SW02,6127AAE80593E489,6,0,WT,24.210846,24-09-2018,12:45:00,9.010000e+15,noraw,1,1.820000e+13
2,160,SW02,6127AAE80593E489,6,0,PH,6.379280,24-09-2018,12:45:00,9.010000e+15,noraw,1,1.820000e+13
3,161,SW02,6127AAE80593E489,6,0,DO,77.444695,24-09-2018,12:45:00,9.010000e+15,noraw,1,1.820000e+13
4,162,SW02,6127AAE80593E489,6,0,COND,59.892838,24-09-2018,12:45:00,9.010000e+15,noraw,1,1.820000e+13

Converting the datatype of date and time series

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst = True)
df['Time'] = pd.to_timedelta(df['Time'])
df['Date'] = df['Date'] + df['Time']

Dropping unnecessary attributes

In [ ]:
df.drop(['SN', 'Wasp Id', 'Id', 'Frame Type','Time', 'Sync', 'Raw', 'Parser type', 'Meshilium Id'], axis = 1, inplace = True)

Sorting the dataset date-wise

In [ ]:
df = df.sort_values(by = ['Date'])
df.head()

   Frame No Sensor  Sensor value                Date
0         0    BAT     65.000000 2018-09-24 12:45:00
1         0     WT     24.210846 2018-09-24 12:45:00
2         0     PH      6.379280 2018-09-24 12:45:00
3         0     DO     77.444695 2018-09-24 12:45:00
4         0   COND     59.892838 2018-09-24 12:45:00

In [ ]:
df.dtypes

Frame No                 int64
Sensor                  object
Sensor value           float64
Date            datetime64[ns]
dtype: object

Transforming the dataset using pivot tables so that each sensor becomes an attribute

In [ ]:
data = df.pivot_table('Sensor value', ['Date', 'Frame No'], 'Sensor')
data

,Sensor,BAT,COND,DO,ORP,PH,WT
Date,Frame No,,,,,,
2018-09-24 12:45:00,0,65.0,59.892838,77.444695,0.148257,6.379280,24.210846
2018-09-24 12:46:00,1,65.0,59.879820,77.076770,0.144755,6.331513,24.156006
2018-09-24 12:47:00,2,66.0,59.941690,76.227170,0.141710,6.372326,24.104614
2018-09-24 12:48:00,3,66.0,60.010353,77.731560,0.140641,6.391796,24.093994
2018-09-24 12:49:00,4,66.0,59.997463,76.798840,0.142180,6.339557,24.145294
...,...,...,...,...,...,...,...
2020-03-07 11:46:00,168,78.0,708.380500,-117.572270,0.085424,10.045585,26.504944
2020-03-07 11:47:00,169,83.0,708.524700,-116.096710,0.085506,10.077302,26.507965
2020-03-07 11:48:00,170,85.0,708.680500,-116.254980,0.085538,10.068365,26.495209
2020-03-07 11:49:00,171,84.0,708.733700,-117.048800,0.085742,10.063457,26.503113
2020-03-07 11:50:00,172,85.0,708.693500,-118.339520,0.085915,10.060904,26.497680

Converting to csv file

In [ ]:
final = data.to_csv('final.csv')
final