<a href="https://colab.research.google.com/github/Shivani-781/Ganga-Water-Quality-Assessment/blob/main/3_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning - River Ganga Dataset

Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np

Reading the dataset

In [ ]:
#Ganga_data
df = pd.read_csv('Ganga.csv')

In [ ]:
df

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,12-01-2019 12:57,0,91.0,0.044698,-0.354073,0.084822,8.879727,22.650238
1,12-01-2019 12:58,1,92.0,0.044651,-0.355277,0.086292,8.866815,22.567017
2,12-01-2019 14:54,0,90.0,46.195190,13.501176,0.142900,12.359906,18.400787
3,12-01-2019 14:55,1,91.0,52.609680,20.752865,0.146236,12.825684,18.013641
4,12-01-2019 14:56,2,91.0,52.399826,12.409351,0.146724,12.998978,18.184570
...,...,...,...,...,...,...,...,...
46978,05-03-2020 17:40,193,87.0,721.867250,-24.438950,0.116298,9.377568,27.130707
46979,05-03-2020 17:41,194,85.0,722.117000,-25.474840,0.116288,9.374988,27.142334
46980,05-03-2020 17:42,195,80.0,722.028700,-25.688156,0.116238,9.375849,27.139954
46981,05-03-2020 17:43,196,81.0,721.960700,-26.467228,0.116218,9.380211,27.135010
46982,05-03-2020 17:44,197,83.0,722.114560,-28.511827,0.116183,9.370649,27.131470

Replacing negative values with NaN

In [ ]:
num = df._get_numeric_data()

In [ ]:
num[num<0] = np.nan

In [ ]:
df

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,12-01-2019 12:57,0,91.0,0.044698,NaN,0.084822,8.879727,22.650238
1,12-01-2019 12:58,1,92.0,0.044651,NaN,0.086292,8.866815,22.567017
2,12-01-2019 14:54,0,90.0,46.195190,13.501176,0.142900,12.359906,18.400787
3,12-01-2019 14:55,1,91.0,52.609680,20.752865,0.146236,12.825684,18.013641
4,12-01-2019 14:56,2,91.0,52.399826,12.409351,0.146724,12.998978,18.184570
...,...,...,...,...,...,...,...,...
46978,05-03-2020 17:40,193,87.0,721.867250,NaN,0.116298,9.377568,27.130707
46979,05-03-2020 17:41,194,85.0,722.117000,NaN,0.116288,9.374988,27.142334
46980,05-03-2020 17:42,195,80.0,722.028700,NaN,0.116238,9.375849,27.139954
46981,05-03-2020 17:43,196,81.0,721.960700,NaN,0.116218,9.380211,27.135010
46982,05-03-2020 17:44,197,83.0,722.114560,NaN,0.116183,9.370649,27.131470

Replacing NaN values in the attributes with the mean of the last 5 values

In [ ]:
do = df['DO']
do

0              NaN
1              NaN
2        13.501176
3        20.752865
4        12.409351
           ...
46978          NaN
46979          NaN
46980          NaN
46981          NaN
46982          NaN
Name: DO, Length: 46983, dtype: float64

In [ ]:
for i in range(len(do)):
    if i>5:
        if np.isnan(do[i]):
                do[i] = np.mean([do[i-1], do[i-2], do[i-3], do[i-4], do[i-5]])
do

C:\Users\Shivani Chauhan\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0              NaN
1              NaN
2        13.501176
3        20.752865
4        12.409351
           ...
46978    10.008608
46979    10.008608
46980    10.008608
46981    10.008608
46982    10.008608
Name: DO, Length: 46983, dtype: float64

In [ ]:
for i in range(4,-1,-1):
    if np.isnan(do[i]):
            do[i] = np.mean([do[i+1], do[i+2], do[i+3], do[i+4], do[i+5]])
do

C:\Users\Shivani Chauhan\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0        14.832754
1        14.170345
2        13.501176
3        20.752865
4        12.409351
           ...
46978    10.008608
46979    10.008608
46980    10.008608
46981    10.008608
46982    10.008608
Name: DO, Length: 46983, dtype: float64

In [ ]:
df.isnull().sum()

Date           0
Frame No       0
BAT            0
COND           0
DO             0
ORP         4999
PH             0
WT             0
dtype: int64

In [ ]:
orp = df['ORP']
orp

0        0.084822
1        0.086292
2        0.142900
3        0.146236
4        0.146724
           ...
46978    0.116298
46979    0.116288
46980    0.116238
46981    0.116218
46982    0.116183
Name: ORP, Length: 46983, dtype: float64

In [ ]:
for i in range(len(orp)):
    if i>5:
        if np.isnan(orp[i]):
                orp[i] = np.mean([orp[i-1], orp[i-2], orp[i-3], orp[i-4], orp[i-5]])
orp

C:\Users\Shivani Chauhan\Anaconda3\envs\TensorFlow\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0        0.084822
1        0.086292
2        0.142900
3        0.146236
4        0.146724
           ...
46978    0.116298
46979    0.116288
46980    0.116238
46981    0.116218
46982    0.116183
Name: ORP, Length: 46983, dtype: float64

In [ ]:
df.isnull().sum()

Date        0
Frame No    0
BAT         0
COND        0
DO          0
ORP         0
PH          0
WT          0
dtype: int64

Converting to csv file

In [ ]:
df.to_csv('Ganga_data.csv', index = False)

In [ ]:
#Sangam_data
#sdf = pd.read_csv('Sangam.csv')

In [ ]:
#sdf
#n = sdf._get_numeric_data()
#n[n<0] = np.nan
#sdf.isnull().sum()
#do = sdf['DO']
#for i in range(len(do)):
    #if i>5:
        #if np.isnan(do[i]):
                #do[i] = np.mean([do[i-1], do[i-2], do[i-3], do[i-4], do[i-5]])
#for i in range(4,-1,-1):
    #if np.isnan(do[i]):
            #do[i] = np.mean([do[i+1], do[i+2], do[i+3], do[i+4], do[i+5]])
#orp = sdf['ORP']
#for i in range(len(orp)):
    #if i>5:
        #if np.isnan(orp[i]):
                #orp[i] = np.mean([orp[i-1], orp[i-2], orp[i-3], orp[i-4], orp[i-5]])
#sdf.to_csv('Sangam_data.csv', index = False)