<a href="https://colab.research.google.com/github/Shivani-781/Ganga-Water-Quality-Assessment/blob/main/5_Data_Extraction_for_Resampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Extraction for Resampling - Central Limit Theorem

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('final.csv')

In [ ]:
df.head()

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,2018-09-24 12:45:00,0,65.0,59.892838,77.444695,0.148257,6.379280,24.210846
1,2018-09-24 12:46:00,1,65.0,59.879820,77.076770,0.144755,6.331513,24.156006
2,2018-09-24 12:47:00,2,66.0,59.941690,76.227170,0.141710,6.372326,24.104614
3,2018-09-24 12:48:00,3,66.0,60.010353,77.731560,0.140641,6.391796,24.093994
4,2018-09-24 12:49:00,4,66.0,59.997463,76.798840,0.142180,6.339557,24.145294

Dropping rows with negative values

In [ ]:
num = df._get_numeric_data()

In [ ]:
num[num<0] = np.nan

In [ ]:
df.isnull().sum()

Date            0
Frame No        0
BAT             5
COND           30
DO          89884
ORP         13080
PH              6
WT              0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,2018-09-24 12:45:00,0,65.0,59.892838,77.444695,0.148257,6.379280,24.210846
1,2018-09-24 12:46:00,1,65.0,59.879820,77.076770,0.144755,6.331513,24.156006
2,2018-09-24 12:47:00,2,66.0,59.941690,76.227170,0.141710,6.372326,24.104614
3,2018-09-24 12:48:00,3,66.0,60.010353,77.731560,0.140641,6.391796,24.093994
4,2018-09-24 12:49:00,4,66.0,59.997463,76.798840,0.142180,6.339557,24.145294
...,...,...,...,...,...,...,...,...
112504,2020-03-05 16:37:00,132,96.0,719.133700,10.065145,0.122582,9.076067,27.055939
112505,2020-03-05 16:38:00,133,96.0,719.246400,10.190168,0.122683,9.070711,27.062134
112506,2020-03-05 16:39:00,134,96.0,719.105900,9.840115,0.122601,9.078075,27.064880
112507,2020-03-05 16:40:00,135,96.0,719.006600,9.861490,0.122602,9.075930,27.062317
112508,2020-03-05 16:41:00,136,96.0,718.848500,10.143466,0.122650,9.076082,27.063232

In [ ]:
#1
#s1 = df[(df['Date'] >= '2019-01-12 00:00:00') & (df['Date'] <= '2019-01-12 16:04:00')]
#s1.to_csv('s1.csv', index = False)

In [ ]:
g1 = df[(df['Date'] >= '2019-01-12 12:57:00') & (df['Date'] <= '2019-01-12 23:59:00')]
g1.to_csv('g1.csv', index = False)

In [ ]:
#2
#s2 = df[(df['Date'] >= '2019-03-30 00:00:00') & (df['Date'] <= '2019-03-30 14:18:00')]
#s2.to_csv('s2.csv', index = False)

In [ ]:
g2 = df[(df['Date'] >= '2019-03-30 10:25:00') & (df['Date'] <= '2019-03-30 23:59:00')]
g2.to_csv('g2.csv', index = False)

In [ ]:
#3
#s3 = df[(df['Date'] >= '2019-05-19 14:52:00') & (df['Date'] <= '2019-05-21 11:20:00')]
#s3.to_csv('s3.csv', index = False)

In [ ]:
g3 = df[(df['Date'] >= '2019-05-21 11:53:00') & (df['Date'] <= '2019-05-25 00:55:00')]
g3.to_csv('g3.csv', index = False)

In [ ]:
#4
#s4 = df[(df['Date'] >= '2019-06-04 15:43:00') & (df['Date'] <= '2019-06-05 14:57:00')]
#s4.to_csv('s4.csv', index = False)

In [ ]:
g4 = df[(df['Date'] >= '2019-06-02 14:44:00') & (df['Date'] <= '2019-06-04 15:42:00')]
g4.to_csv('g4.csv', index = False)

In [ ]:
#5
#s5 = df[(df['Date'] >= '2019-07-12 12:25:00') & (df['Date'] <= '2019-07-13 12:12:00')]
#s5.to_csv('s5.csv', index = False)

In [ ]:
g5 = df[(df['Date'] >= '2019-07-13 12:17:00') & (df['Date'] <= '2019-07-15 13:53:00')]
g5.to_csv('g5.csv', index = False)

In [ ]:
#6
#s6 = df[(df['Date'] >= '2019-07-25 01:32:00') & (df['Date'] <= '2019-07-29 10:31:00')]
#s6.to_csv('s6.csv', index = False)

In [ ]:
g6 = df[(df['Date'] >= '2019-07-22 17:42:00') & (df['Date'] <= '2019-07-25 01:29:00')]
g6.to_csv('g6.csv', index = False)

In [ ]:
#7
#s7 = df[(df['Date'] >= '2019-08-05 11:18:00') & (df['Date'] <= '2019-08-07 11:20:00')]
#s7.to_csv('s7.csv', index = False)

In [ ]:
g7 = df[(df['Date'] >= '2019-08-04 00:08:00') & (df['Date'] <= '2019-08-05 11:17:00')]
g7.to_csv('g7.csv', index = False)

In [ ]:
#8
#s8 = df[(df['Date'] >= '2019-08-31 13:20:00') & (df['Date'] <= '2019-09-01 11:18:00')]
#s8.to_csv('s8.csv', index = False)

In [ ]:
g8 = df[(df['Date'] >= '2019-09-01 16:06:00') & (df['Date'] <= '2019-09-02 11:19:00')]
g8.to_csv('g8.csv', index = False)

In [ ]:
#9
#s9 = df[(df['Date'] >= '2019-09-12 12:36:00') & (df['Date'] <= '2019-09-15 13:18:00')]
#s9.to_csv('s9.csv', index = False)

In [ ]:
g9 = df[(df['Date'] >= '2019-09-10 17:58:00') & (df['Date'] <= '2019-09-12 12:32:00')]
g9.to_csv('g9.csv', index = False)

In [ ]:
#10
#s10 = df[(df['Date'] >= '2019-09-25 20:19:00') & (df['Date'] <= '2019-09-27 10:33:00')]
#s10.to_csv('s10.csv', index = False)

In [ ]:
g10 = df[(df['Date'] >= '2019-09-24 10:45:00') & (df['Date'] <= '2019-09-25 20:18:00')]
g10.to_csv('g10.csv', index = False)

In [ ]:
#11
#s11 = df[(df['Date'] >= '2019-10-06 22:02:00') & (df['Date'] <= '2019-10-09 17:35:00')]
#s11.to_csv('s11.csv', index = False)

In [ ]:
g11 = df[(df['Date'] >= '2019-10-04 11:55:00') & (df['Date'] <= '2019-10-06 22:01:00')]
g11.to_csv('g11.csv', index = False)

In [ ]:
#12
#s12 = df[(df['Date'] >= '2019-10-20 14:43:00') & (df['Date'] <= '2019-10-22 13:05:00')]
#s12.to_csv('s12.csv', index = False)

In [ ]:
g12 = df[(df['Date'] >= '2019-10-18 12:06:00') & (df['Date'] <= '2019-10-20 14:42:00')]
g12.to_csv('g12.csv', index = False)

In [ ]:
#13
#s13 = df[(df['Date'] >= '2019-11-03 07:53:00') & (df['Date'] <= '2019-11-05 08:40:00')]
#s13.to_csv('s13.csv', index = False)

In [ ]:
g13 = df[(df['Date'] >= '2019-11-01 11:11:00') & (df['Date'] <= '2019-11-03 07:52:00')]
g13.to_csv('g13.csv', index = False)

In [ ]:
#14
#s14 = df[(df['Date'] >= '2019-11-20 09:40:00') & (df['Date'] <= '2019-11-26 09:56:00')]
#s14.to_csv('s14.csv', index = False)

In [ ]:
g14 = df[(df['Date'] >= '2019-11-18 11:00:00') & (df['Date'] <= '2019-11-20 09:38:00')]
g14.to_csv('g14.csv', index = False)

In [ ]:
#15
#s15 = df[(df['Date'] >= '2019-11-30 11:30:00') & (df['Date'] <= '2019-12-02 12:52:00')]
#s15.to_csv('s15.csv', index = False)

In [ ]:
g15 = df[(df['Date'] >= '2019-11-29 11:37:00') & (df['Date'] <= '2019-11-30 11:29:00')]
g15.to_csv('g15.csv', index = False)

In [ ]:
#16
#s16 = df[(df['Date'] >= '2019-12-18 00:00:00') & (df['Date'] <= '2019-12-19 20:22:00')]
#s16.to_csv('s16.csv', index = False)

In [ ]:
g16 = df[(df['Date'] >= '2019-12-17 15:06:00') & (df['Date'] <= '2019-12-17 23:59:00')]
g16.to_csv('g16.csv', index = False)

In [ ]:
#17
#s17 = df[(df['Date'] >= '2019-12-31 12:40:00') & (df['Date'] <= '2020-01-02 23:24:00')]
#s17.to_csv('s17.csv', index = False)

In [ ]:
g17 = df[(df['Date'] >= '2019-12-29 15:38:00') & (df['Date'] <= '2019-12-31 12:39:00')]
g17.to_csv('g17.csv', index = False)

In [ ]:
#18
#s18 = df[(df['Date'] >= '2020-01-22 06:47:00') & (df['Date'] <= '2020-01-24 11:21:00')]
#s18.to_csv('s18.csv', index = False)

In [ ]:
g18 = df[(df['Date'] >= '2020-01-20 15:58:00') & (df['Date'] <= '2020-01-22 06:46:00')]
g18.to_csv('g18.csv', index = False)

In [ ]:
#19
#s19 = df[(df['Date'] >= '2020-02-02 13:44:00') & (df['Date'] <= '2020-02-05 12:31:00')]
#s19.to_csv('s19.csv', index = False)

In [ ]:
g19 = df[(df['Date'] >= '2020-01-31 12:50:00') & (df['Date'] <= '2020-02-02 13:42:00')]
g19.to_csv('g19.csv', index = False)

In [ ]:
#20
#s20 = df[(df['Date'] >= '2020-02-24 17:26:00') & (df['Date'] <= '2020-02-26 09:50:00')]
#s20.to_csv('s20.csv', index = False)

In [ ]:
g20 = df[(df['Date'] >= '2020-02-20 10:37:00') & (df['Date'] <= '2020-02-21 14:25:00')]
g20.to_csv('g20.csv', index = False)

In [ ]:
#21
#s21 = df[(df['Date'] >= '2020-03-05 17:45:00') & (df['Date'] <= '2020-03-07 11:49:00')]
#s21.to_csv('s21.csv', index = False)

In [ ]:
g21 = df[(df['Date'] >= '2020-03-04 11:35:00') & (df['Date'] <= '2020-03-05 17:44:00')]
g21.to_csv('g21.csv', index = False)

In [ ]:
g_combine = [g1, g2, g3, g4, g5, g6, g7, g8, g9, g10, g11, g12, g13, g14, g15, g16, g17, g18, g19, g20, g21]
g = pd.concat(g_combine)

In [ ]:
g.shape

(8087, 8)

In [ ]:
#s_combine = [s1, s2, s3, s4, s5, s6, s7, s8, s9, s10, s11, s12, s13, s14, s15, s16, s17, s18, s19, s20, s21]
#s = pd.concat(s_combine)

In [ ]:
#s.shape

In [ ]:
df.shape

(18600, 8)

In [ ]:
g.to_csv('Ganga_Resampling.csv', index = False)
#s.to_csv('Sangam.csv', index = False)